[credential]
    helper = store

[user]
    name = PlasmaHH
    email = plasmahh@gmx.net

[color]
    ui = auto

[core]
    pager =
    excludesfile = /home/lbt/.gitignore

[blame]
    coloring = highlightRecent
    date = human

[color "blame"]
    highlightRecent = 237, 20 month ago, 238, 19 month ago, 239, 18 month ago, 240, 17 month ago, 241, 16 month ago, 242, 15 month ago, 243, 14 month ago, 244, 13 month ago, 245, 12 month ago, 246, 11 month ago, 247, 10 month ago, 248, 9 month ago, 249, 8 month ago, 250, 7 month ago, 251, 6 month ago, 252, 5 month ago, 253, 4 month ago, 254, 3 month ago, 231, 2 month ago, 230, 1 month ago, 229, 3 weeks ago, 228, 2 weeks ago, 227, 1 week ago, 226


[alias]
    st = status --no-column
    co = checkout
    ci = commit -a
    comm = commit
    commita = commit -a
    comma = commit -a
    coma = commit -a
    moff = merge --no-ff
    diffc = diff --cached
    diffs = !git diff --stat
    k = !gitk --all --date-order
    desc = describe --always --tags --dirty

    unpushed = log --all --not --remotes --tags --oneline --topo-order
    unp = !git unpushed

    lolf = log --pretty='%C(auto)%h %cd %an%d %C(auto,bold)%s%C(auto)' --graph --date='format-local:%Y-%m-%d %H:%M:%S'
    lol = !git-foresta --style=10 $1
    lola = !git lol --all $1
    root = rev-parse --show-toplevel
    tagv = for-each-ref --format '%(refname) %09 %(taggerdate) %(subject) %(taggeremail)' refs/tags  --sort=taggerdate

[rerere]
	enabled = 1
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false

[pull]
	ff = only
	rebase = false
[merge "ours"]
    driver = true

[column]
	ui = auto
[gui]
	pruneduringfetch = true
[push]
	recurseSubmodules = check
[fetch]
	writeCommitGraph = true
	parallel = 0
	prune = true
[submodule]
	recurse = true
	fetchjobs = 0
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
    postBuffer = 157286400

[include]
    path = ~/.gitconfig.work
