snippet grat

<details>
<summary>

**Rationale:**

</summary>

> ${VISUAL} $1

</details>
$0
endsnippet


snippet gexc

<details>
<summary>

**Exception:**

</summary>

> ${VISUAL} $1

</details>
$0
endsnippet

snippet gdoc

<details>
<summary>

**External Documentation:**

</summary>

> ${VISUAL} $1

</details>
$0
endsnippet

snippet cpp
\`\`\`c++
$0
\`\`\`
endsnippet

snippet ref
[$1](#`!p snip.rv=t[1].lower().replace(" ","-")`)
endsnippet

snippet tags
---
tags:
   - $1
---
endsnippet


snippet adex
=== "${1}"

    ???+ $1 "$1"
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et euismod nulla. Curabitur feugiat, tortor non consequat finibus, justo purus auctor massa, nec semper lorem quam in massa.


$0
endsnippet


snippet wikiu
[${0:$1}]({{wikiu("${1}")}})
endsnippet

snippet wiki
{{wiki("${1}")}}
endsnippet

snippet img
![${1:alttext}](${2:filename} "${3:hovertext}"){ width=${4:200} }$0
endsnippet

snippet rat
??? question "Rationale"
    ${VISUAL}$1

$0
endsnippet


snippet exc

???+ tip "Exception"
    ${VISUAL}$1

$0
endsnippet

snippet doc
??? toc "External Documentation"
    ${VISUAL}$1

$0
endsnippet

snippet mis
!!! construction "Missing Documentation"
    The following documentation needs to be added to this page:

    * ${VISUAL} $1

$0
endsnippet

snippet raw
{%raw%}${VISUAL}$1{%endraw%}
endsnippet

