snippet rat

<details>
<summary>

**Rationale:**

</summary>

> ${VISUAL} $1

</details>
$0
endsnippet


snippet exc

<details>
<summary>

**Exception:**

</summary>

> ${VISUAL} $1

</details>
$0
endsnippet

snippet doc

<details>
<summary>

**External Documentation:**

</summary>

> ${VISUAL} $1

</details>
$0
endsnippet

snippet cpp
\`\`\`c++
$0
\`\`\`
endsnippet

snippet ref
[$1](#`!p snip.rv=t[1].lower().replace(" ","-")`)
endsnippet

snippet tags
---
tags:
   - $1
---
endsnippet
